---
import { links } from "../../data/projects";
import Backdrop from "../atoms/Backdrop.astro";
import ButtonNav from "../atoms/NavButton.astro";
import Divider from "../atoms/Divider.astro";
import Link from "../atoms/NavLink.astro";
import LinksGroup from "../molecules/LinksGroup.astro";
---

<Backdrop id="backdrop-nav" />

<nav id="global-nav" class="h-screen w-screen sm:w-2/3 lg:w-1/2 fixed -left-full top-0 bg-white z-50 shadow-xl transition-all">
  <ul class="menu sm:menu-lg rounded-box">
    <span class="font-bold uppercase mt-5">
      <Link projectInfo={{ link: "/", label: "Home" }} projectGroupUrl="" />
    </span>
    <Divider />
    <LinksGroup {links} />
  </ul>
</nav>
<ButtonNav id="button-nav" />

<script>
  const menu = document.querySelector("#global-nav") as HTMLElement;
  const backdrop = document.querySelector("#backdrop-nav") as HTMLButtonElement;
  const button = document.querySelector("#button-nav") as HTMLButtonElement;

  const toggleMenu = () => {
    menu.classList.toggle("!left-0");
    backdrop.classList.toggle("hidden");
    backdrop.classList.toggle("opacity-25");
  };

  button.addEventListener("click", toggleMenu);
  backdrop.addEventListener("click", toggleMenu);
</script>
