---
import type { ProjectInfo } from "../../data/projects";

interface Props {
  projectInfo: ProjectInfo;
  projectGroupUrl: string;
}
const { projectInfo, projectGroupUrl } = Astro.props;
---

<li>
  <a href={projectGroupUrl + projectInfo.link}>{projectInfo.label}</a>
</li>
