---
import MainLayout from "../../../layouts/MainLayout.astro";
---

<MainLayout>
  <div class="relative">
    <section id="section1" class="sectionPin h-[100vh] bg-green-100">
      <div class="flex flex-col justify-center items-center h-full gap-10">
        <h1 class="text-6xl">Main Title</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, doloribus.</p>
      </div>
    </section>
    <section id="section2" class="sectionPin h-[100vh] bg-green-200">
      <div class="flex flex-col justify-center items-center h-full gap-10">
        <h2 class="text-4xl">First Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisci similique officia tenetur sequi iure odit, aperiam eos facere
          necessitatibus!
        </p>
      </div>
    </section>
    <section id="section3" class="sectionPin h-[100vh] bg-green-300">
      <div class="flex flex-col justify-center items-center h-full gap-10">
        <h2 class="text-4xl">Second Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisci similique officia tenetur sequi iure odit, aperiam eos facere
          necessitatibus!
        </p>
      </div>
    </section>
    <section id="section4" class="sectionPin h-[100vh] bg-green-400">
      <div class="flex flex-col justify-center items-center h-full gap-10">
        <h2 class="text-4xl">Third Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisci similique officia tenetur sequi iure odit, aperiam eos facere
          necessitatibus!
        </p>
      </div>
    </section>
    <section id="section5" class="sectionPin h-[100vh] bg-green-500">
      <div class="flex flex-col justify-center items-center h-full gap-10">
        <h2 class="text-4xl">Fourth Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisci similique officia tenetur sequi iure odit, aperiam eos facere
          necessitatibus!
        </p>
      </div>
    </section>
    <section id="section6" class="sectionPin h-[100vh] bg-green-600">
      <div class="flex flex-col justify-center items-center h-full gap-10">
        <h2 class="text-4xl">Fifth Subtitle</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur adipisci similique officia tenetur sequi iure odit, aperiam eos facere
          necessitatibus!
        </p>
      </div>
    </section>
  </div>
</MainLayout>

<script>
  import gsap from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  // let tl1!: gsap.core.Timeline;

  const arrSections = gsap.utils.toArray(".sectionPin");

  arrSections.forEach((panel) => {
    ScrollTrigger.create({
      trigger: panel as HTMLElement,
      start: "top top",
      pin: true,
      pinSpacing: false,
    });
  });

  // tl1 = gsap.timeline({
  //   scrollTrigger: {
  //     trigger: "#section1",
  //     start: "top top",
  //     end: "bottom top",
  //     scrub: true,
  //     pin: true,
  //     pinSpacing: false,
  //     markers: true,
  //   },
  // });

  // tl1
  //   .from("#section2", { left: 0, duration: 1 })
  //   .from("#section3", { left: 0, duration: 1 })
  //   .from("#section4", { left: 0, duration: 1 })
  //   .from("#section5", { left: 0, duration: 1 })
  //   .from("#section6", { left: 0, duration: 1 });
</script>
