---
interface Props {
  id?: string;
}

const { id = "" } = Astro.props;
---

<button
  {id}
  class="bg-primary rounded p-4 sm:py-20 fixed right-5 bottom-5 sm:bottom-auto sm:top-1/2 sm:-translate-y-1/2 active:scale-95 transition-transform z-50 shadow text-white"
>
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
  </svg>
</button>
